[Desktop Entry]
Type=Application
Name=Potos pulseaudio script
Comment=Script for overriding default volume on first login for user
Exec=/usr/local/bin/"{{ potos_pulseaudio_scriptfile }}"
X-GNOME-AutoRestart=false
X-GNOME-Autostart-enabled=true
