#!/bin/bash

# Set default sink volume for user
pactl set-sink-volume $( pactl info | awk '/Default Sink:/ {print $3}' ) "{{ potos_pulseaudio_default_volume }}"

# Disable this script
mkdir -p "$HOME/.config/autostart/"
cp "{{ potos_pulseaudio_desktopfile }}" "$HOME/{{ potos_pulseaudio_disabled_desktopfile }}"
sed -i 's/X-GNOME-Autostart-enabled=true/X-GNOME-Autostart-enabled=false/g' "$HOME/{{ potos_pulseaudio_disabled_desktopfile }}"
chmod +x "$HOME/{{ potos_pulseaudio_disabled_desktopfile }}"
